<div class="container ">
    <nav class="navbar fixed-top">
        <div class="d-flex justify-content-between">
            <div class="home ">
                <a href="{{currrent_url}}/" class="btn p-2 ">
                    <svg class="mb-1 home-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                    <span class="home-svg">Home</span>
                </a>
            </div>
            <div class="login">
                <a href="{{currrent_url}}/signin" class="btn p-2">
                    <svg class="mb-1 home-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <span class="home-svg">Login</span>
                </a>
            </div>
        </div>

    </nav>
    <div class="container search mt-4 mb-4">
        <div class="row">
            <div class="col-md-3 logo_header d-flex justify-content-center">
                <a href="{{current_url}}">
                    <img class="logo-img" width="100px" height="50px" src="{{current_url}}/img/logo_header.png" alt="">
                </a>
            </div>
            <div class="col-md-9">
                <div class="search-form">
                    <form autocomplete="off" action="{{current_url}}/search">

                        <div class="input-group">
                            <input hidden="hidden" name="sort" value="newest" type="text"
                                class="form-control search-input" placeholder="Tìm sản phẩm, thương hiệu, ..">
                            <input required list="products" id="keyword" name="keyword[]" value="{{keyword}}"
                                type="text" class="form-control search-input"
                                placeholder="Tìm sản phẩm, thương hiệu, ..">
                            <datalist id="products" class="products"></datalist>

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div class="cart">
                                <button class="btn" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="mt-1" id="keyword_suggest">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const URL = '{{ current_url }}/api/v1.0/keywords';
    let main = document.getElementById("result");
    fetch(URL)
        .then(response => response.json())
        .then(data => {
            for (let i = 0; i < 6; i++) {
                a = document.createElement('a');

                if (i == 0) {
                    a.className = 'key_suggest_first';
                } else {
                    a.className = 'key_suggest';
                }
                a.id = 'key_suggest';
                a.href = '{{current_url}}/search?sort=newest&keyword=' + data[i].keyword
                a.innerHTML = jsUcfirst(data[i].keyword);
                key = document.getElementById('keyword_suggest');
                key.appendChild(a);

            }
        });
    function jsUcfirst(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }





    $(function () {
        var dataList = $('.products');

        $('body').on('input', '.search-input,.products', function () {
            dataList2 = document.getElementById('products')
            dataList2.innerHTML = ''
            fetch("https://playads.pw/test.php?keyword=" + $('#keyword').val())
                .then(response => response.json())
                .then(data => {
                    console.log(typeof (data));
                    jsonOptions = data;
                    jsonOptions.forEach(function (item) {
                        console.log(item.product)

                        var option = '<option onclick="alert(\'a\')" value="' + item.product + '"></option>';

                        dataList.append(option);


                    });



                });
            var i = this.value;
            var description = "";
            var productsInBox = 0;
            var text = "";
            var version = '';
            var quantity = '';
            jsonOptions.forEach(function (a) {
                if (a.product == i) {
                    description = a.description;
                    productsInBox = a.productsInBox;
                    text = a.labels
                    a.labels.forEach(function (el) {
                        version += el.version + " ";
                        quantity += el.quantity + " ";
                    });
                }
            });

            $('[data-toggle="popover"]').attr('data-content', "versions are: " + version + ' and quantity are: ' + quantity).data('bs.popover').setContent();
            $(this).closest('.form-group').find('.mytext').val(description);
        });
    });
    $('[data-toggle="popover"]').popover();

</script>